<nav class="barnav barnav-default">
  <div class="container-fluid">
    <div class="barnav-header">
      <a class="barnav-brand">La Tienda</a>
    </div>
    <ul class="nav barnav-nav barnav-right">
      <li class="nav-item">
        <a routerLink="catalogo"><i class="glyphicon glyphicon-th"></i></a>
      </li>
      <li class="nav-item">
        <a routerLink="shopping-cart">
          <i class="glyphicon glyphicon-shopping-cart notification-icon"><span id="badge" class="badge"></span></i>
        </a>
      </li>
      <li class="nav-item">
        <a><i class="glyphicon glyphicon-inbox"></i></a>
      </li>
      <li class="nav-item">
        <a routerLink=""><i class="glyphicon glyphicon-share"></i></a>
      </li>
    </ul>
  </div>
</nav>
